.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;  
  width: 720px;
}

.content{
  width: 595px;
  float: left;
  padding-right: 3px;
  border-right: 1px solid black;
}
h2{
  margin-top: 2px;
}

nav{
  float:right;
  width: 119px;
}

li {
  list-style-type: none;
  padding: 2px;
}

ul{
  margin-top: 2px;
  margin-left: 5px;
  padding-left: 5px;
}

.footer{
  border-top: 1px solid black;
  padding-top: 5px;
  clear: both;
}


