.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;  
  width: 720px;
}

.content{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  }

li {
  padding-right: 10px;
  display:inline ;
}

ul{
  padding-top: 20px;
  /*margin-top: 5px;*/
  border-top:1px solid black;
  padding-left:0px;
}

.footer{
  padding-top: 10px;
}

